body {  
  text-align: center;  
  background-image:url("spot_light.png");
  background-size: cover;
  width: 99%;
}

h1 {
  color: rgb(0, 123, 255);
  font-size: 40px;
  text-align: center;
  line-height: 60px;
  margin:0px;
  background-color: whitesmoke;
}

h2 {
  font-size: 60px;
  text-align: center;
  line-height: 220px;
  width: 300px; 
  height: 200px;
  background-color: chartreuse; 
  margin: auto;
  margin-top: 20px;  
}

#btn {
    font-size: 30px; 
    background-color: rgb(248, 0, 95);
    width: 200px;
    margin-top: 20px; 
}

h3 {
  font-size: 40px;
  color: rgb(255, 0, 0);
  background-color: black;
  margin-top: 30px;
  margin-bottom: 0px; 
}

h4{
  color: white;
  background-color: black;
  margin-bottom: 0px;
  margin-top: 0px; 
}

.second{
  display:flex;
  margin-top: 0px;
  background-color: black;
}

.third{
  margin: auto;
  width:0px;
  padding-left:200px;
}

#list1{
  display:flex;
  
}

#list2{
  display:flex;
 
}

#btn2{
  font-size: 30px; 
  background-color: rgb(255, 230, 0);
  width:200px;
  height:50px;
  margin-top: 20px;
  margin-left: 570px;
  border: none;
  border-radius: 10px;
}

#btn3{
  font-size: 20px;
  background-color: rgb(0, 174, 248);
  height:50px;
  width:100px;
  margin-top: 20px;
  margin-left: 30px;
  border: none;
  border-radius: 10px;
}

#btn4{
  font-size: 20px;
  background-color: rgb(0, 174, 248);
  height:50px;
  width:100px;
  margin-top: 20px;
  border: none;
  border-radius: 10px;
}


#one{
  width:100px;
  margin-right:10px;
}

#two{
  width:100px;
  margin-right:10px;
}

#three{
  width:100px;
  margin-right:10px;
}

#four{
  width:100px;
  margin-right:10px;
}

#five{
  width:100px;
}

#six{
  width:100px;
  margin-right:10px;
}

#seven{
  width:100px;
  margin-right:10px;
}

#eight{
  width:100px;
  margin-right:10px;
}

#nine{
  width:100px;
  margin-right:10px;
}

#ten{
  width:100px;
}
